@import url("./shared/layout.scss");
@import url("./shared/card.scss");
@import url("./shared/modal.scss");

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  overflow: scroll;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.title {
  font-weight: 600;
}

.body2 {
  font-size: 0.875rem;
  color: #62686e;
}
